<!DOCTYPE html>
<html>
<head>
	<title>预定信息弹出框-响应式设计</title>
	<meta content="width=device-width,maximum-scale=1.0,user-scalable=no" />
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/flexible.js"></script>
</head>
<body>
	<div id="body-container">
		<div id="body-cover"></div>
		<div id="book-box">
			<h4>预定填写以下信息</h4>
			<form action="post" id="info-form">
				<fieldset>
					<label for="name" class="right">姓名</label>
					<input type="text" id="name" name="name" required class="info-input" />
					<span class="required">*</span>
				</fieldset>
				<fieldset>
					<label for="phone" class="right">手机</label>
					<input type="tel" id="phone" name="phone" required class="info-input"/>
					<span class="required">*</span>
				</fieldset>
				<fieldset>
					<label for="qq" class="right">QQ号</label>
					<input type="text" id="qq" name="qq" required class="info-input" />
					<span class="required">*</span>
				</fieldset>
				<fieldset>
					<label for="wx" class="right">微信号</label>
					<input type="text" id="wx" name="wx" required class="info-input" />
					<span class="required">*</span>
				</fieldset>
				<fieldset>
					<label for="car-brand" class="right">车型</label>
					<select name="car-brand" id="car-brand" required>
						<option value>请选择</option>
						<option value="dazhong">大众</option>
					</select>
					<select name="car-type" id="car-type" required>
						<option value>请选择</option>
						<option value="15maiteng">15年迈腾</option>
					</select> 
					<span class="required">*</span>			
				</fieldset>
				<fieldset>
					<label for="detail" class="right"></label>
					<select name="detail" id="detail">
						<option value>请选择详细配置</option>
					</select>					
					<!-- <input type="text" name="detail" id="detail" placeholder="详细配置，如“1.8TSI豪华型" required class="info-input" /> -->
				</fieldset>
				<fieldset>
					<label for="province" class="right">地区</label>
					<select name="province" id="province" required>
						<option value>省</option>
						<option value="beijing">北京</option>
					</select>
					<select name="city" id="city" required>
						<option value>市</option>
						<option value="beijing">北京</option>
					</select>
					<select name="region" id="region" required>
						<option value>区</option>
						<option value="haidian">海淀</option>
					</select>
					<span class="required">*</span>
				</fieldset>
				<fieldset>
					<label for="note" class="right" class="right">备注</label>
					<input type="text" name="note" id="note" class="info-input" />
				</fieldset>
				<fieldset>
					<label for="submit-btn" class="right"></label>
					<button type="submit" value="提交" id="submit-btn">提交</button>
				</fieldset>
			</form>
			
			<div class="introduction">
				<p>感谢您对途灵的支持与喜爱，如预定成功，您会收到确认短息/F码<br/>
				届时可凭借确认短信/F码,到***下单<br/>
				如有任何问题，请联系我们：400*****</p>
			</div>
		</div>		
	</div>	
	<script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript">
		/*==========实现弹窗的JS代码==========*/
		var $container = $("#body-container");
		var $infoAlert = $("#book-box");
		// var $bodyCover = $("#body-cover");
		$container.click(function(){
			$infoAlert.prev().css("display","block");			
			$infoAlert.css("display","block");
		})
		/*==============表单验证==============*/
		$("#info-form :input").blur(function(){
			$parent = $(this).parent();
			$parent.find(".error-msg").remove();
			if ($(this).is("#name")) {
			//验证姓名是否为空
				if (this.value == "") {
					var errorMsg = "姓名不能为空";
					$parent.append('<div class="error-msg">' + errorMsg +'</div>');
				}
			}
			if ($(this).is("#phone")) {
			//验证手机号码输入是否正确
				if (this.value == "") {
					var errorMsg = "手机号不能为空";
					$parent.append('<div class="error-msg">' + errorMsg +'</div>');
				} else {
					if (!$.isNumeric(this.value)) {
						var errorMsg = "手机号格式有误";
						$parent.append('<div class="error-msg">' + errorMsg +'</div>');
					} else {
						if (this.value.toString().length !== 11) {
							var errorMsg = "输入有误，手机号码应为11位";
							$parent.append('<div class="error-msg">' + errorMsg +'</div>');
						} else {
							return true;					
						}
					}
				}									
			}
			if ($(this).is("#qq")) {
			//验证QQ号是否为数字
				if (this.value == "") {
					var errorMsg = "QQ号不能为空";
					$parent.append('<div class="error-msg">' + errorMsg +'</div>');
				} else{
					if (!$.isNumeric(this.value)) {
						var errorMsg = "QQ号只能为数字";
						$parent.append('<div class="error-msg">' + errorMsg +'</div>');
					} else {
						return true;
					}
				}				
			}
			if ($(this).is("#wx")) {
			//验证微信号是否为数字
				if (this.value == "") {
					var errorMsg = "微信号不能为空";
					$parent.append('<div class="error-msg">' + errorMsg +'</div>');
				} else{
					if (!$.isNumeric(this.value)) {
						var errorMsg = "微信号只能为数字";
						$parent.append('<div class="error-msg">' + errorMsg +'</div>');
					} else {
						return true;
					}
				}				
			}
		})
		$("#submit-btn").click(function(){			
			$("#info-form :input").trigger("blur");
			var errorNum = $("form .error-msg").length;
			if (errorNum) {
				//alert($(window).width());
				 if ($(window).width() > 900 &&$(window).width()!==1242 ) {
				 	$infoAlert.css("height","670px");
				 }else{
					$infoAlert.css("height","16.6rem");
				 }
				
				return false;
			}

		})
	</script>
</body>
</html>



@model AdmissionManageProject.Models.JourneyInfo
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>添加人员表单</h2>*@
@section BodyCss{
    <link href="~/Pages/css/jquery-ui.min.css" rel="Stylesheet" type="text/css" />
    <link href="~/Scripts/widget/alert/sweet-alert.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Body.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Pages/css/resetcss.css")" rel="Stylesheet" type="text/css" />
}
<form action="/JourneyInfo/Create" method="post" id="info-form">
    @Html.AntiForgeryToken()

    <div class="form-horizontal body-text">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <!--行程基本信息-->
        <div id="journey-type">
            <div class="form-group">
                <label class="control-label col-md-3" for="JourneyCategory"><span style="color:red">*</span>行程类型</label>
                <select id="JourneyCategory" name="JourneyCategory" class="form-control col-md-7">
                    <option value>--请选择行程类型--</option>
                    <option value="大型咨询会（高校、媒体开放日）">大型咨询会（高校、媒体开放日）</option>
                    <option value="小型咨询会（走访中学）">小型咨询会（走访中学）</option>
                    <option value="中型咨询会（中学咨询会）">中型咨询会（中学咨询会）</option>
                </select>
            </div>
            @if (AdmissionManageProject.Codes.Global.RoleId == 1)
            {
                <div class="form-group">
                    <label class="control-label col-md-3" for="Province"><span style="color:red">*</span>省区</label>
                    <input class="form-control text-box single-line col-md-7" id="Province" name="Province" type="text" value="" />
                    <div class="col-md-2">
                        <span id="province-danger" class="text-danger">您输入的省区不正确</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="City"><span style="color:red">*</span>城市</label>
                    <input class="form-control text-box single-line col-md-7" id="City" name="City" type="text" value="" />
                    <div class="col-md-2">
                        <span id="city-danger" class="text-danger">您输入的城市不正确</span>
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">*</span>省区</label>
                    <select id="Province" name="Province" class="form-control col-md-7">
                        <option value=""></option>
                        <option value="湖南">湖南</option>
                        <option value="辽宁">辽宁</option>
                        <option value="巴基斯坦">巴基斯坦</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3" for="City"><span style="color:red">*</span>城市</label>
                    <input class="form-control text-box single-line col-md-7" id="City" name="City" type="text" value="" />
                    <div class="col-md-2">
                        <span id="city-danger" class="text-danger">您输入的城市不正确</span>
                    </div>
                </div>
            }
            <div class="form-group">
                <label class="control-label col-md-3"><span style="color:red">*</span>责任单位（人）</label>
                @if (ViewBag.User.RoleId == 1)
                {
                    <select name="ResponseDepartment" class="form-control col-md-7" id="ResponseDepartment">
                        <option value=""></option>
                        <option value="材料">材料</option>
                        <option value="创新">创新</option>
                        <option value="电信">电信</option>
                        <option value="管理">管理</option>
                        <option value="胡祥培组">胡祥培组</option>
                        <option value="化工">化工</option>
                        <option value="机械">机械</option>
                        <option value="建工">建工</option>
                        <option value="建艺">建艺</option>
                        <option value="教务处">教务处</option>
                        <option value="孟长功组">孟长功组</option>
                        <option value="能动">能动</option>
                        <option value="人文">人文</option>
                        <option value="软件">软件</option>
                        <option value="数学">数学</option>
                        <option value="外语">外语</option>
                        <option value="物理">物理</option>
                        <option value="系统管理员">系统管理员</option>
                        <option value="校团委">校团委</option>
                        <option value="校友会">校友会</option>
                        <option value="宣传部">宣传部</option>
                        <option value="学生处">学生处</option>
                        <option value="袁晓东">袁晓东</option>
                        <option value="运载">运载</option>
                        <option value="招生办">招生办</option>
                    </select>
                    }
                    else
                    {
                        <input name="ResponseDepartment" value="@ViewBag.User.Department" class="form-control col-md-7" readonly />
                    }
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="HostDepartment"><span style="color:red">*</span>主办单位</label>
                <input class="form-control text-box single-line col-md-7" id="HostDepartment" name="HostDepartment" type="text" value="" />
            </div>
        </div>
        <!--活动详细信息-->
        <div id="active-detail">
            <div class="form-group">
                <label class="control-label col-md-3" for="ActivityDate"><span style="color:red">*</span>活动日期</label>
                <input class="form-control text-box single-line col-md-7" id="ActivityDate" name="ActivityDate" type="text" value="" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="ActivityTime"><span style="color:red">*</span>活动开始时间</label>
                <input class="form-control text-box single-line col-md-7" id="ActivityTime" name="ActivityTime" type="time" value="" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="FeedBackDeadLine"><span style="color:red">*</span>反馈截止时间</label>
                <input class="form-control text-box single-line col-md-7" id="FeedBackDeadLine" name="FeedBackDeadLine" type="text" value="" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="AdvisorySite"><span style="color:red">*</span>咨询地点</label>
                <input class="form-control text-box single-line col-md-7" id="AdvisorySite" name="AdvisorySite" type="text" value="" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Cost"><span style="color:red">*</span>会务费</label>
                <input class="form-control text-box single-line col-md-7" id="Cost" name="Cost" type="text" value="" />
            </div>
        </div>
        <!--联系方式相关信息-->
        <div id="contact-info">
            <div class="form-group">
                <label class="control-label col-md-3" for="Telephone"><span style="color:red">*</span>联系电话</label>
                <input class="form-control text-box single-line col-md-7" id="Telephone" name="Telephone" type="tel" value="" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Mail"><span style="color:red">*</span>邮箱</label>
                <input class="form-control text-box single-line col-md-7" id="Mail" name="Mail" type="email" value="" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="MailAddress"><span style="color:red">*</span>邮寄地址</label>
                <input class="form-control text-box single-line col-md-7" id="MailAddress" name="MailAddress" type="text" value="" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Fax"><span style="color:red">*</span>传真</label>
                <input class="form-control text-box single-line col-md-7" id="Fax" name="Fax" type="text" value="" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="IsPublic"><span style="color:red">*</span>是否公开</label>
                <div class="col-md-7 col-md-offset-1">
                    <div class="checkbox">
                        <input class="check-box" id="IsPublic" name="IsPublic" type="checkbox" value="true" />
                        <input name="IsPublic" type="hidden" value="false" />
                    </div>
                </div>
            </div>
        </div> 
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">*</span>附件上传</label>
                    <input type="text" class="form-control col-md-3" name="RawFilename" readonly id="RawFilename" placeholder="请点击选择文件按钮" />
                    <input type="file" name="file_upload" id="file_upload" class="form-control " />
                    </div>
                </div>}
            else
            {
                <div class="form-group">
                    <label class="control-label col-md-3" for="Description"><span style="color:red">*</span>简要说明</label>
                    <input class="form-control text-box single-line col-md-7" id="Description" name="Description" type="text" value="" />
                </div>
                <input name="Invitation" class="hidden" id="filename" />
                <div class="form-group">
                    <label class="control-label col-md-3"><span style="color:red">*</span>附件上传</label>
                    <input type="text" class="form-control col-md-3" name="RawFilename" readonly id="RawFilename" placeholder="请点击选择文件按钮" />
                    <input type="file" name="file_upload" id="file_upload" class="form-control col-md-4" />
                    </div>
                </div>}
        </div>
        <div class="form-group" id="submint-btn">
            <div class="col-md-offset-3 col-md-5">
                <button type="button" value="提交" class="btn btn-default" id="submit-btn" >提交</button>
                <div class="btn btn-default" id="journey-create-btn">
                    @Html.ActionLink("返回主界面", "CurrentJourneyInfo")
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="confirm" style="display:none;z-index:9999 !important;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>请您认真检查行程信息，一旦提交不可撤回。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancle">取消</button>
                    <input type="submit" class="btn btn-primary" id="btCreate" value="确认新建" />
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval");
        @Scripts.Render("~/Pages/js/jquery-2.1.4.js");

        @*用于文件上传开始*@
        <script src="~/uploadify/jquery.uploadify.min.js"></script>
        <script src="~/Scripts/widget/alert/sweet-alert.js"></script>
        <script src="~/Pages/js/jquery-ui.min.js"></script>
        <script src="~/Scripts/createJourney.js"></script>
        <script src="~/Scripts/journey_validate.js"></script>
        @*<script type="text/javascript">
            $('#submit-btn').click(function () {
                console.log("hello");          
            });

        </script>*@
        @*用于文件上传结束*@
    }


